<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Menu</title>


<html lang="en">



  <body>
    <h1> is this working</h1>
    <h2> confirmation page </h2>

    <div  id ="basket">
      <p> name: <%= name %>  </p>
      <p> phone: <%= phone %>  </p>
      <% for (item of foodOrder){ %>
        <div class=item>

          <%=foodOrder[item]%>
         <p> <%= item.name %> <p>
         <p> <%= item.quantity %> <p>
         <p> <%= item.price %> <p>

        <div>
      <% } %>
      <p> <%= totalPrice %> </p>
    </div>
  </body>

<body>

<form action="/order/send" method="POST">
  <input type="submit" value="Confirm Your Food Order">
</form>



</body>

</html>


